body {
    font-family: 'Open Sans', sans-serif !important;
    overflow-x: hidden;
}

.home-bg {
    background-image: url('../assets/header-banner.png');
    background-repeat: no-repeat;
    height: 600px;
    background-position: 100% 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3.5em;
}

#home {
    position: relative;
}

@media only screen and (max-device-width: 480px) {
    .home-bg {
        font-size: 1.5em;
    }
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.text-align {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.color-white {
    color: #fff;
}

.color-red {
    color: red;
}

.color-orange {
    color: rgb(241, 160, 2);
    font-family: Roboto;
    font-weight: lighter;
}

.navbar-bottom {
    margin-bottom: 0px;
    background-color: rgba(235, 235, 235, 0.8);
}

.div-partners {
    background-color: rgb(235, 235, 235);
}

.margin-partner {
    margin: 20px 0px;
    font-size: 1.5em;
}

.line-bottom {
    position: relative;
    padding-bottom: 5px;
}

.line-bottom:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid red;
}

.features-rightline {
    position: relative;
    margin-bottom: 50px;
    padding: 5px 5px 15px 5px;
}

@media only screen and (min-device-width: 769px) {
    .features-rightline:after {
        height: 95%;
        position: absolute;
        right: 0;
        border-right: 1px solid grey;
        content: '';
    }
}

.line-hide:after {
    visibility: hidden;
}


.contact-bg {
    background-image: url('../assets/bottom-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3em;
    padding-bottom: 20px;
    background-attachment: fixed;
}

.form-inputs {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    color: #fff;
    height: 50px;
}


.img-partners {
    width: 100%;
    padding: 0px 10px;
}

.formbtn-space {
    margin-top: 15px;
}

.contact-email {
    padding-left: 25%;
    margin-left: -6%;
    padding-top: 10px;
}

.contact-address {
    padding-right: 25%;
    margin-left: 6%;
    padding-top: 10px;
}

@media only screen and (max-device-width: 480px) {
    .contact-email {
        padding-left: 0%;
        margin-left: 0%;
        padding-right: 0%;
    }

    .contact-address {
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
    }
}

.location-marker {
    padding-top: 15%;
    background-color: #fff;
    margin: 0px 1px;
    /*border: 1px solid #e0dada;*/
}

.address {
    padding-bottom: 15%;
    background-color: #fff;
    margin: 0px 1px;
    word-wrap: break-word;
    /*border: 1px solid #e0dada;*/
}

.mail-icon {
    padding-top: 15%;
    background-color: #fff;
    margin: 0px 1px;
    /*border: 1px solid #e0dada;*/
}

.mail-id {
    padding-bottom: 28%;
    background-color: #fff;
    margin: 0px 1px;
    padding-top: 3px;
    word-wrap: break-word;
    /*border: 1px solid #e0dada;*/
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 1.5em;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: black !important;
    background-color: rgba(235, 235, 235, 0.8) !important;
    border-bottom: 1px solid red;
}

.navbar-nav li {
    font-size: 10px;
}

.btn-submit {
    color: #fff;
    border: none;
    padding: 10px 40px;
    background-color: rgb(144, 248, 254);
}

h2 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.partner-box {
    /* height: 150px;*/
    position: relative;
    margin-bottom: 20px;
    margin-left: 6%;
}

@media only screen and (max-device-width: 480px) {
    .partner-box {
        margin-left: 0px;
    }
}

.partner-img {
    /*position: absolute;
top: 20px;*/
}

.contact-color {
    background-color: rgba(235, 235, 235, 0.8);
    color: #333;
    padding-bottom: 20px;
}

.footer-div {
    width: 100%;
    background-color: rgb(35, 35, 35);
    color: #fff;
    padding: 30px 0px;
}

.feature-heading {
    font-size: 0.9em;
}

.feature-desc {
    font-size: 0.6em;
}

input[type=radio] {
    transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    margin: 0px 15px;
}

.row-button {
    font-size: 1.2em;
    margin-bottom: 15px;
    height: 50px;
}

.exapp-desc {
    padding: 0px 20px;
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 40px;
    line-height: 1.5;
}

.boxshadow {
    box-shadow: 7px 7px 5px #ccc;
}

.color-blue {
    color: rgb(144, 248, 254);
}

.font-light {
    font-family: Roboto;
    font-weight: lighter;
}

.learn-more {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 1.2em;
    border: 1px solid rgb(144, 248, 254);
    padding: 12px 25px;
    border-radius: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    cursor: pointer;
}

.color-black {
    color: #000;
}

.country-list{

    background: rgba(0, 0, 0, 0.7) !important;
}

.dial-code {
    color: white !important;

}